#!/usr/bin/env xdg-open
[Desktop Entry]
Name=FidoCadj
Comment=Designing circuit drawings and PCB routing
Icon=fidocadj
Type=Application
Categories=Graphics;2DGraphics;
Exec=fidocadj %u
Terminal=false
X-MultipleArgs=false
StartupNotify=false
MimeType=application/x-fidocadj;
