bin/net/sourceforge/fidocadj/dialogs/DialogCopyAsImage$1.class
bin/net/sourceforge/fidocadj/dialogs/DialogCopyAsImage$2.class
bin/net/sourceforge/fidocadj/dialogs/DialogCopyAsImage$3.class
bin/net/sourceforge/fidocadj/dialogs/DialogCopyAsImage$4.class
bin/net/sourceforge/fidocadj/dialogs/DialogCopyAsImage.class
bin/net/sourceforge/fidocadj/ADesktopIntegration.class
bin/net/sourceforge/fidocadj/ExportTools$TransferableImage.class
fidocadj_check.txt
jar/VAqua7.jar
test/export/output_pdf10.txt
test/export/output_svg_3.txt
test/export/pdf/ref/test_out10.pdf
test/export/pdf/test_out10.pdf
test/export/svg/test_exp/test_0.svg
test/export/svg/test_exp/test_1.svg
test/export/svg/test_exp/test_2.svg
test/export/svg/test_exp/test_3.svg
bin/net/sourceforge/fidocadj/export/PointPr.class
OSes/android/fidocadj/bin/
OSes/android/fidocadj/gen/
bin/.DS_Store
bin/language_temp_reference.txte
bin/net/sourceforge/.DS_Store
bin/net/sourceforge/fidocadj/.DS_Store
bin/net/sourceforge/fidocadj/AppleSpecific.class
bin/net/sourceforge/fidocadj/CommandLineParser.class
bin/net/sourceforge/fidocadj/CreateSwingInterface.class
bin/net/sourceforge/fidocadj/DragDropTools.class
bin/net/sourceforge/fidocadj/ExportTools.class
bin/net/sourceforge/fidocadj/FidoCadApplet.class
bin/net/sourceforge/fidocadj/FidoFrame$1.class
bin/net/sourceforge/fidocadj/FidoFrame.class
bin/net/sourceforge/fidocadj/FidoMain.class
bin/net/sourceforge/fidocadj/FidoReadApplet.class
bin/net/sourceforge/fidocadj/FileTools$1.class
bin/net/sourceforge/fidocadj/FileTools$2.class
bin/net/sourceforge/fidocadj/FileTools.class
bin/net/sourceforge/fidocadj/MenuTools.class
bin/net/sourceforge/fidocadj/MouseScrollIcon.class
bin/net/sourceforge/fidocadj/OpenFile$1.class
bin/net/sourceforge/fidocadj/OpenFile$2.class
bin/net/sourceforge/fidocadj/OpenFile.class
bin/net/sourceforge/fidocadj/PrintTools.class
bin/net/sourceforge/fidocadj/RunExport.class
bin/net/sourceforge/fidocadj/ScrollGestureRecognizer.class
bin/net/sourceforge/fidocadj/ScrollGlassPane.class
bin/net/sourceforge/fidocadj/circuit/
bin/net/sourceforge/fidocadj/clipboard/
bin/net/sourceforge/fidocadj/dialogs/ActionDClick.class
bin/net/sourceforge/fidocadj/dialogs/ArrowCellRenderer.class
bin/net/sourceforge/fidocadj/dialogs/ArrowInfo.class
bin/net/sourceforge/fidocadj/dialogs/BareBonesBrowserLaunch.class
bin/net/sourceforge/fidocadj/dialogs/CellArrow.class
bin/net/sourceforge/fidocadj/dialogs/CellDash.class
bin/net/sourceforge/fidocadj/dialogs/CellLayer.class
bin/net/sourceforge/fidocadj/dialogs/DashCellRenderer.class
bin/net/sourceforge/fidocadj/dialogs/DashInfo.class
bin/net/sourceforge/fidocadj/dialogs/DialogAbout$1OpenUrlAction.class
bin/net/sourceforge/fidocadj/dialogs/DialogAbout.class
bin/net/sourceforge/fidocadj/dialogs/DialogEditLayer$1.class
bin/net/sourceforge/fidocadj/dialogs/DialogEditLayer$2.class
bin/net/sourceforge/fidocadj/dialogs/DialogEditLayer$3.class
bin/net/sourceforge/fidocadj/dialogs/DialogEditLayer.class
bin/net/sourceforge/fidocadj/dialogs/DialogExport$1.class
bin/net/sourceforge/fidocadj/dialogs/DialogExport$2.class
bin/net/sourceforge/fidocadj/dialogs/DialogExport$3.class
bin/net/sourceforge/fidocadj/dialogs/DialogExport$4.class
bin/net/sourceforge/fidocadj/dialogs/DialogExport.class
bin/net/sourceforge/fidocadj/dialogs/DialogLayer$1.class
bin/net/sourceforge/fidocadj/dialogs/DialogLayer$2.class
bin/net/sourceforge/fidocadj/dialogs/DialogLayer$3.class
bin/net/sourceforge/fidocadj/dialogs/DialogLayer$4.class
bin/net/sourceforge/fidocadj/dialogs/DialogLayer.class
bin/net/sourceforge/fidocadj/dialogs/DialogOptions$1.class
bin/net/sourceforge/fidocadj/dialogs/DialogOptions$2.class
bin/net/sourceforge/fidocadj/dialogs/DialogOptions$3.class
bin/net/sourceforge/fidocadj/dialogs/DialogOptions$4.class
bin/net/sourceforge/fidocadj/dialogs/DialogOptions.class
bin/net/sourceforge/fidocadj/dialogs/DialogParameters$1.class
bin/net/sourceforge/fidocadj/dialogs/DialogParameters$2.class
bin/net/sourceforge/fidocadj/dialogs/DialogParameters$3.class
bin/net/sourceforge/fidocadj/dialogs/DialogParameters$4.class
bin/net/sourceforge/fidocadj/dialogs/DialogParameters$5.class
bin/net/sourceforge/fidocadj/dialogs/DialogParameters.class
bin/net/sourceforge/fidocadj/dialogs/DialogPrint$1.class
bin/net/sourceforge/fidocadj/dialogs/DialogPrint$2.class
bin/net/sourceforge/fidocadj/dialogs/DialogPrint$3.class
bin/net/sourceforge/fidocadj/dialogs/DialogPrint$4.class
bin/net/sourceforge/fidocadj/dialogs/DialogPrint$5.class
bin/net/sourceforge/fidocadj/dialogs/DialogPrint.class
bin/net/sourceforge/fidocadj/dialogs/DialogSymbolize$1.class
bin/net/sourceforge/fidocadj/dialogs/DialogSymbolize$2.class
bin/net/sourceforge/fidocadj/dialogs/DialogSymbolize$3.class
bin/net/sourceforge/fidocadj/dialogs/DialogSymbolize$4.class
bin/net/sourceforge/fidocadj/dialogs/DialogSymbolize$5.class
bin/net/sourceforge/fidocadj/dialogs/DialogSymbolize$6.class
bin/net/sourceforge/fidocadj/dialogs/DialogSymbolize$7.class
bin/net/sourceforge/fidocadj/dialogs/DialogSymbolize$myCircuitPanel.class
bin/net/sourceforge/fidocadj/dialogs/DialogSymbolize.class
bin/net/sourceforge/fidocadj/dialogs/DialogUtil.class
bin/net/sourceforge/fidocadj/dialogs/EnterCircuitFrame$1.class
bin/net/sourceforge/fidocadj/dialogs/EnterCircuitFrame$2.class
bin/net/sourceforge/fidocadj/dialogs/EnterCircuitFrame$3.class
bin/net/sourceforge/fidocadj/dialogs/EnterCircuitFrame.class
bin/net/sourceforge/fidocadj/dialogs/LayerCellRenderer.class
bin/net/sourceforge/fidocadj/dialogs/LayerInfo.class
bin/net/sourceforge/fidocadj/dialogs/LibraryPanel$1.class
bin/net/sourceforge/fidocadj/dialogs/LibraryPanel$2.class
bin/net/sourceforge/fidocadj/dialogs/LibraryPanel$3.class
bin/net/sourceforge/fidocadj/dialogs/LibraryPanel$LibraryDesc.class
bin/net/sourceforge/fidocadj/dialogs/LibraryPanel$LibraryListModel$1.class
bin/net/sourceforge/fidocadj/dialogs/LibraryPanel$LibraryListModel$2.class
bin/net/sourceforge/fidocadj/dialogs/LibraryPanel$LibraryListModel.class
bin/net/sourceforge/fidocadj/dialogs/LibraryPanel$SpaceIcon.class
bin/net/sourceforge/fidocadj/dialogs/LibraryPanel.class
bin/net/sourceforge/fidocadj/dialogs/OSKeybPanel$1.class
bin/net/sourceforge/fidocadj/dialogs/OSKeybPanel$KEYBMODES.class
bin/net/sourceforge/fidocadj/dialogs/OSKeybPanel.class
bin/net/sourceforge/fidocadj/dialogs/ParameterDescription.class
bin/net/sourceforge/fidocadj/export/ExportEPS.class
bin/net/sourceforge/fidocadj/export/ExportEagle.class
bin/net/sourceforge/fidocadj/export/ExportFidoCad.class
bin/net/sourceforge/fidocadj/export/ExportGraphic.class
bin/net/sourceforge/fidocadj/export/ExportInterface.class
bin/net/sourceforge/fidocadj/export/ExportPDF.class
bin/net/sourceforge/fidocadj/export/ExportPGF.class
bin/net/sourceforge/fidocadj/export/ExportSVG.class
bin/net/sourceforge/fidocadj/geom/
bin/net/sourceforge/fidocadj/globals/
bin/net/sourceforge/fidocadj/graphic/
bin/net/sourceforge/fidocadj/layermodel/
bin/net/sourceforge/fidocadj/layers/
bin/net/sourceforge/fidocadj/librarymodel/
bin/net/sourceforge/fidocadj/macropicker/
bin/net/sourceforge/fidocadj/primitives/
bin/net/sourceforge/fidocadj/timer/
bin/net/sourceforge/fidocadj/toolbars/ChangeGridState.class
bin/net/sourceforge/fidocadj/toolbars/ChangeSelectedLayer.class
bin/net/sourceforge/fidocadj/toolbars/ChangeSelectionListener.class
bin/net/sourceforge/fidocadj/toolbars/ChangeZoomListener.class
bin/net/sourceforge/fidocadj/toolbars/ToolButton.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$1.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$10.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$11.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$12.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$13.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$2.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$3.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$4.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$5.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$6.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$7.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$8.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools$9.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarTools.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarZoom$1.class
bin/net/sourceforge/fidocadj/toolbars/ToolbarZoom.class
bin/net/sourceforge/fidocadj/toolbars/ZoomToFitListener.class
bin/net/sourceforge/fidocadj/dialogs/print/*.class
bin/net/sourceforge/fidocadj/dialogs/print/PrintPreview.class
bin/net/sourceforge/fidocadj/undo/
bin/net/sourceforge/fidocadj/RunExport$1.class
bin/net/sourceforge/fidocadj/RunExport$2.class
bin/net/sourceforge/fidocadj/RunExport$3.class
bin/net/sourceforge/fidocadj/RunExport$4.class
bin/net/sourceforge/fidocadj/RunExport$5.class
test/export/eps/test_out.eps
test/export/pdf/test_out.pdf
test/export/pgf/output_latex.tex
jar/fidocadj.jar
jar/libquaqua.jnilib
jar/libquaqua64.jnilib
jar/quaqua.jar
jar/swing-layout.jar
doc/
.DS_Store
jar/.DS_Store
test/export/jpg/test_out.jpg
test/export/jpg/test_out_r.jpg
test/export/pgf/test_out.pgf
test/export/png/test_out.png
test/export/png/test_out_r.png
test/export/scr/test_out.scr
test/export/svg/led_circuit_r.svg
test/export/svg/test_out.svg
test/export/svg/test_out_r.svg
test/export/pgf/test_out.pdf
test/export/output_jpg.txt
test/export/output_jpg_r.txt
test/export/output_pdf.txt
test/export/output_png.txt
test/export/output_png_r.txt
test/export/results_pdf.txt
test/export/results_png_r.txt
test/export/results_png_s.txt
test/size/text.txt
test/size/text_r.txt
test/export/pgf/output_latex.log
jar/out.pdf
manual/manual_en.aux
manual/manual_en.bbl
manual/manual_en.blg
manual/manual_en.idx
manual/manual_en.ilg
manual/manual_en.ind
manual/manual_en.lof
manual/manual_en.log
manual/manual_en.lot
manual/manual_en.out
manual/manual_en.toc
bin/net/sourceforge/fidocadj/dialogs/OriginCircuitPanel.class
bin/net/sourceforge/fidocadj/dialogs/mindimdialog/
bin/net/sourceforge/fidocadj/dialogs/DialogAttachImage.class
bin/net/sourceforge/fidocadj/dialogs/DialogAttachImage$1.class
bin/net/sourceforge/fidocadj/dialogs/DialogAttachImage$2.class
bin/net/sourceforge/fidocadj/dialogs/DialogAttachImage$3.class
bin/net/sourceforge/fidocadj/dialogs/DialogAttachImage$4.class
bin/net/sourceforge/fidocadj/export/ExportPCBRND.class
bin/net/sourceforge/fidocadj/dialogs/DialogAttachImage$5.class
bin/net/sourceforge/fidocadj/dialogs/DialogAttachImage$6.class
bin/net/sourceforge/fidocadj/dialogs/DialogAttachImage$7.class
bin/net/sourceforge/fidocadj/dialogs/DialogAttachImage$8.class
bin/net/sourceforge/fidocadj/dialogs/DialogAttachImage$9.class
bin/net/sourceforge/fidocadj/dialogs/DialogExport$5.class
*.class
/build
/dist
/nbproject
